// FONT
$font-primary: 'Lato', sans-serif;

// COLORS
$color-foreground-light: #c3d9da; // #c3d9da #d8e6e7
$color-foreground-dark: #575b66; //  #575b66 #637883
$color-foreground: #f8f8ff;
$color-grey-light-0: #f8f8f8;
$color-grey-light: #f7f7f7;
$color-grey-light-1: #ebebeb;
$color-grey-dark-7: #777;
$color-grey-dark-9: #999;
$color-grey-dark-8: #838383;
$color-grey-dark-5: #555;
$color-grey-dark-3: #333;
$color-primary: #55c57a; // #5a9367  #55c57a
$color-primary-light: #7edf6f; // #5cab7d  #7ed56f
$color-primary-dark: #28b485; // #44633f #28b485

// GRADIENTS
$bg-gradient: linear-gradient(
  to right,
  rgba($color-primary-light, 0.6),
  rgba($color-primary, 0.6)
);
// BORDERS
$border-primary-sm: 1px solid $color-primary-light;

// SHADOWS

// OTHER VARIABLES
$pad-X: 7vw;
