*.vscode
.vscode
.git
node_modules
node_modules
.pnp
.pnp.js

# testing
coverage

# production
build
Dist
dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log
# do not allow docker-compose*.yml 
# Dockerfile and readme.md is optional
*Dockerfile*
*docker-compose*
.npm
# log files
logs
*.log*
npm_debug.log*
# env files
.env
*.env
# Runtime data
pids
*.pid
*.seed
