@import '../../sass/abstract/variables';
.section-features {
  &__heading {
    justify-self: center;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  &__card {
    width: 70%;
  }

  &__btn {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: end;
    margin-top: 5rem;
  }
}
