@import '../../../sass//abstract/variables';

.header {
  &__logo {
    width: 20rem;
  }

  &__search-box {
    margin-left: 3rem;
    position: relative;
  }
  &__label {
    &--search {
      font-family: inherit;
      font-size: 1.5rem;
      color: darken($color: #bebebe, $amount: 3%);
      position: absolute;
      top: 0;
      left: 1.8rem;
      margin: 1rem 1.4rem;
      opacity: 0;
    }
  }

  &__icon {
    &--search {
      line-height: 1;
      width: 1.7rem;
      height: 1.7rem;
      position: absolute;
      top: 0;
      margin: 1.5rem 0;
      right: 1.8rem;
      fill: lighten(
        $color: (
          #bebebe
        ),
        $amount: 2%
      );
    }
  }

  &__input {
    color: $color-grey-light;
    font-family: inherit;
    font-size: 1.5rem;
    &--search {
      width: 45rem;
      background-color: $color-grey-dark-5;
      outline: none;
      border: none;
      border-bottom: 2px solid transparent;
      border-radius: 8px;
      padding: 1rem 1.8rem;
      color: $color-grey-light-1;
      margin-top: 0.3rem;
      transform-origin: right;
      transition: transform 0.25s ease-out;

      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-decoration {
        -webkit-appearance: none;
      }

      &::placeholder {
        font-family: inherit;
        color: lighten($color: #bebebe, $amount: 2%);
      }

      &:focus {
        border: 2px solid $color-primary;
      }
      &:focus + .header__label--search {
        opacity: 0;
      }
    }
  }

  &__nav-list {
    list-style: none;
    display: flex;
    align-items: center;

    &--1 {
      margin-left: auto;
    }
  }

  &__nav-list-divider {
    margin: 0 2.5rem;
    width: 1px;
    height: 3.6rem;
    background-color: $color-grey-dark-7;
  }

  &__nav-list-item {
    &:not(:first-child) {
      margin-left: 1.7rem;
    }
  }

  &__nav-link {
    display: block;
    font-size: 1.5rem;
    color: $color-foreground;
    position: relative;
    letter-spacing: 1px;
    word-spacing: 2px;
    cursor: pointer;
    display: block;
    margin-right: 0.8rem;
    text-transform: uppercase;
    font-weight: 700;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      position: absolute;
      top: 105%;
      left: 0;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.2s ease;
      background-color: $color-primary;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      transform: scale(1.04);
    }

    &:hover::before {
      transform: scaleX(1);
    }
  }
}

.header__nav-link:hover + .nav-border,
.header__nav-link:focus + .nav-border {
  opacity: 1;
  transform: scaleX(1);
}

.nav-border {
  width: 100%;
  background-color: $color-primary;
  height: 2px;
  opacity: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s ease-out;
}

.nav__support {
  font-size: 1.4rem;
  margin-left: 1rem;
  color: $color-foreground;

  &--email {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
}

.nav__support-icon {
  width: 1.4rem;
  height: 1.4rem;
  fill: $color-primary;
  display: inline-block;
  margin-top: 0.5rem;
  margin-right: 0.6rem;
  &--phone {
    margin-bottom: -0.1rem;
  }
}
