@import '../../sass/abstract/variables';

.form-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 48%;
  height: 52rem;
  background-color: $color-grey-dark-3;
  display: flex;
  flex-direction: row;
  border-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0.4rem 0.8rem 0.8rem rgba(#000, 0.1),
    -0.3rem -0.6rem 0.5rem rgba(#000, 0.08);

  &__side {
    flex: 1 1 46%;
    padding: 4.5rem 2.5rem;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex: 0 0 54%;
  }

  &__logo-img {
    align-self: center;
    margin-bottom: 2.5rem;
    width: 10rem;
  }

  &__heading {
    color: lighten($color-grey-dark-9, 10%);
    font-size: 2.2rem;
    font-weight: 400;

    &--1 {
      align-self: center;
      display: block;
      background-image: linear-gradient(
        135deg,
        rgba($color-primary-light, 1),
        rgba($color-primary-dark, 1) 85%
      );
      text-shadow: 1px 2px 2px rgba(#000, 0.05);
      color: transparent;
      background-clip: text;
      margin-bottom: 2rem;
      font-size: 2.6rem;
    }

    &--2 {
      align-self: flex-start;
      font-size: 1.6rem;
      font-weight: 400;
      padding: 0 1.5rem;
    }
  }
}
