@import '../../sass/abstract/variables';
.signin-form-modal-wrapper,
.register-form-modal-wrapper {
  background-color: rgba(#fff, 0.95);
  padding: 4.5rem 3.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin-form,
.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__modal-btn-dismiss {
    cursor: pointer;
    color: $color-foreground-dark;
    font-size: 2rem;
    position: absolute;
    top: 1.2rem;
    right: 2.4rem;

    &:hover {
      color: #ee4849;
    }
  }

  &__modal-heading {
    font-size: 2.8rem;
    background-image: linear-gradient(
      135deg,
      rgba($color-primary-dark, 1) 90%,
      rgba($color-primary-light, 1) 40%
    );
    color: transparent;
    background-clip: text;
    margin-bottom: 4.5rem;
    text-shadow: 1px 2px 2px rgba(#000, 0.12);
  }

  &__group {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    &:not(:last-of-type) {
      margin-top: 1.5rem;
      margin-bottom: 6rem;
    }

    &:last-of-type {
      margin-bottom: 5rem;
    }

    width: 92%;
  }

  &__label {
    order: 1;
    position: absolute;
    font-size: 1.6rem;
    font-weight: 400;
    color: $color-foreground-dark;
    transition: all 0.3s ease-in-out;
    transform: translateY(-8rem) translateX(0.2rem);
  }

  &__error {
    margin-top: 0.7rem;
    height: 1.8rem;
    align-self: flex-end;
  }

  &__input {
    order: 2;
    width: 100%;
    display: block;
    padding: 1.4rem 2rem;
    background-color: $color-grey-light-1;
    outline: none;
    border: none;
    border-radius: 0.4rem;
    border-bottom: 2px solid transparent;
    font-family: inherit;
    font-size: 1.5rem;
    color: $color-grey-dark-5;

    &::placeholder {
      font-family: inherit;
      font-size: 1.5rem;
      color: $color-grey-dark-8;
    }

    &:focus {
      outline: none;
    }

    &:focus:invalid,
    &:focus {
      border-bottom: 2px solid #ff7730;
    }

    &:focus:valid {
      border-bottom: 2px solid $color-primary;
    }
  }

  &__input:placeholder-shown ~ &__label {
    opacity: 0;
    transform: translateX(0.1rem) translateY(-3.7rem);
  }

  &__btns {
    width: 100%;
    padding: 0 5rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
  }

  &__btn-submit {
    cursor: pointer;
    display: block;
    width: 70%;
    border: none;
    outline: none;
    padding: 1.2rem 1.8rem;
    background-color: darken($color: $color-primary, $amount: 15%);
    border-radius: 0.5rem;
    color: $color-foreground;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1;

    &:hover,
    &:focus {
      background-color: darken($color: $color-primary, $amount: 20%);
    }
  }
}

.register-form {
  &__group {
    &:last-of-type {
      margin-bottom: 2rem;
    }
  }
}

.signin-form {
  &__group {
    &:last-of-type {
      margin-bottom: 2rem;
    }
  }
  &__link-forgot-passwd {
    &:link,
    &:visited {
      margin-top: 1.2rem;
      display: block;
      align-self: center;
      font-family: inherit;
      font-size: 1.6rem;
      text-decoration: none;
      color: $color-grey-dark-5;
      will-change: color;
      transition: all 0.2s ease;
    }

    &:hover,
    &:focus {
      color: $color-primary;
    }
  }

  &__btn-submit {
    width: 50%;
  }
}

.register-form-modal-wrapper {
}
