@import '../../sass/abstract/variables';

.section-slides {
  height: 40vh;
  margin: 3rem 0 0 0;
  margin-left: 2rem;
  margin-top: 3rem;
  position: relative;
}

.slide-container {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.slide {
  height: 100%;
  width: 100%;
  padding: 2.4rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

  &__text {
    display: block;
    width: 44%;
    margin-bottom: auto;
    margin-top: 2rem;
    font-size: 1.6rem;
    text-shadow: 0 1px 1px rgba(#000, 0.05);
  }

  &__btn {
    width: 16rem;
  }

  &__heading {
    font-size: 3.2rem;
    font-weight: 400;
    color: $color-foreground;
    text-shadow: 1px 1px 2px rgba(#000, 0.1);
  }

  &--0 {
    background-image: linear-gradient(
        135deg,
        rgba($color-primary-dark, 0.55),
        rgba($color-primary-light, 0.45)
      ),
      url(../../assets/mountain-hiker_1.jpg);
    background-size: cover;
    background-position: 0 40%;
  }

  &--1 {
    background-image: linear-gradient(
        135deg,
        rgba($color-primary-dark, 0.55),
        rgba($color-primary-light, 0.45)
      ),
      url(../../assets/sea-exlorer_2.jpg);
    background-size: cover;
    background-position: 0 80%;
  }
}

.slide-navigation {
  display: flex;
  position: absolute;
  bottom: 2rem;
  right: 4rem;
  z-index: 20;

  &--current-slide {
    position: relative;

    &::after {
      width: 1rem;
      height: 1rem;
      position: absolute;
      content: '';
      display: block;
      border-radius: 50%;
      background-color: $color-foreground;
      top: 0.3rem;
      right: 0.3rem;
    }
  }
  &__prev {
    margin-right: 1rem;
  }

  &__prev,
  &__next {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border: 2px solid $color-foreground;
    border-radius: 50%;
  }
}
