@import '../../sass/abstract/variables';
.section-cta {
  background-image: linear-gradient(
      135deg,
      rgba($color-primary-light, 0.8) 38%,
      rgba($color-primary-dark, 0.8)
    ),
    url(../../assets/hero-alternate.jpg);

  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-form-wrapper {
  width: 80%;
  height: 60rem;
  display: block;
  background-color: #fff;
  box-shadow: 1rem 1.5rem 1.8rem rgba(#000, 0.2),
    -1rem -1.2rem 1.5rem rgba(#000, 0.16);
  border-radius: 3px;
}
