%btn {
  &,
  &::before {
    cursor: pointer;
    background-color: $color-foreground-light;
    color: $color-foreground-dark;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    width: 22rem;
    padding: 1.6rem 2.2rem;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 50px;
    position: relative;
    box-shadow: 0.2rem 0.8rem 1.3rem rgba(#000, 0.1);
    transition: all 0.3s ease-out;
  }

  &::before {
    width: 100%;
    height: 100%;
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }
  &:hover,
  &:focus {
    transform: translateY(-0.4rem);
  }

  &:active {
    transform: translateY(0.2rem);
  }

  &:hover::before {
    opacity: 0;
    transform: scaleX(1.4) scaleY(1.6);
  }
}

.ntrs-btn {
  @extend %btn;
  backface-visibility: hidden;

  &--primary {
    &,
    &::before {
      background-color: $color-foreground;
      letter-spacing: 1px;
      width: 28rem;
      font-size: 1.4rem;
      padding: 2rem 2.8rem;
    }

    &--alternate {
      &,
      &::before {
        background-color: $color-primary;
        color: $color-foreground;
      }
    }
  }

  &--success {
    transition: transform 0.2s ease;

    &,
    &::before {
      width: 14rem;
      background-color: $color-primary;
      color: $color-foreground;
      font-size: 1.5rem;
      padding: 1.4rem 1.6rem;
      border-radius: 0.5rem;
    }
    &::before {
      display: none;
    }
    &--alternate {
      width: 18rem;
      border-radius: 5rem;
    }
    &:hover,
    &:active,
    &:focus {
      transform: translateY(0);
    }

    &:hover::before,
    &:focus::before {
      transform: scaleX(0) scaleY(0);
    }

    &:hover,
    &:focus {
      transform: translateY(-4px);
    }

    &:active {
      transform: translateY(1px);
    }
  }

  &--secondary {
    &,
    &::before {
      background-color: transparent;
      border: 2px solid $color-primary;
      font-size: 1.5rem;
      color: $color-primary;
      border-radius: 4px;
      width: 18rem;
      padding: 1.2rem 1rem 1.2rem 1.4rem;
      box-shadow: 0 1rem 1.2rem rgba(#000, 0.05);
    }

    &::before {
      display: none;
    }

    &:hover,
    &:focus,
    &:active {
      transform: translateY(0);
    }

    &:hover {
      background-color: $color-primary;
      color: $color-foreground;
      transform: translateY(-4px);
    }

    &:active {
      transform: translateY(2px);
    }

    &:hover::before,
    &:focus::before {
      transform: scaleX(0) scaleY(0);
    }
  }

  &--login,
  &--register {
    font-size: 1.5rem;
    text-transform: uppercase;
    word-spacing: 2px;
    letter-spacing: 1px;
    border-radius: 0.4rem;
    background-color: $color-grey-dark-5;

    &,
    &::before {
      padding: 1rem 1.6rem;
      width: 12rem;
    }

    &::before {
      display: none;
    }

    &:hover,
    &:active {
      transform: translateY(0);
    }
    &:focus {
      border: none;
      transform: translateY(-3px);
    }
    &:active {
      transform: translateY(3px);
    }
    .btn-inner-span {
      transition: all 0.2s ease-in;
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: darken($color: $color-grey-dark-5, $amount: 5%);
      border-radius: 0.4rem;
      z-index: -1;
      border-radius: 0.4rem;
      opacity: 0;
    }
  }

  &--register {
    color: $color-foreground;
    background-color: darken($color-primary, 10%);
    .btn-inner-span {
      background-color: darken($color-primary, 20%);
    }

    &:hover {
      color: $color-foreground;
    }

    &:hover .btn-inner-span {
      opacity: 1;
    }
  }

  &--login {
    background-color: $color-grey-dark-5;
    color: $color-foreground;
    &:hover .btn-inner-span {
      opacity: 1;
    }
  }
}
