%link {
  &:link,
  &:visited {
    text-decoration: none;
    font-weight: 400;
  }
}

.ntrs-link {
  @extend %link;
  text-transform: uppercase;

  &--nav-link {
    font-size: 1.4rem;
    text-transform: none;
  }
}
