%link {
  &:link,
  &:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    color: $color-foreground-light;
  }
}

.ntrs-link {
  @extend %link;
}
