@import '../../sass/abstract/variables';

.section-tours {
  margin: 0 3rem;
  margin-top: 0.5rem;
  background-color: $color-grey-light-0;

  &__head {
    height: 5rem;
    background-color: darken($color: $color-grey-light-0, $amount: 10%);
  }
}

.tour-container {
  padding: 3.5rem 2rem;
  display: grid;
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  justify-items: center;
  align-items: center;
  &__card {
  }
}
