// layouts for the home page
.section-about {
  grid-column: lpad-start / rpad-end;
  margin-top: 3rem;
  padding: 0 $pad-X 3.5rem $pad-X;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content 1fr 0.8fr max-content;
  grid-column-gap: 2rem;
  grid-row-gap: 1.5rem;
}

.featured-tours {
  grid-column: lpad-start / rpad-end;
  padding: 4rem $pad-X 10rem $pad-X;
  background-color: lighten($color-grey-light-0, 0.55%);
}

.section-features {
  grid-column: lpad-start / rpad-end;
  padding: 7rem $pad-X 10rem $pad-X;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: max-content max-content min-content;
  grid-row-gap: 3rem;
  grid-column-gap: 2.5rem;
  justify-items: center;
  align-items: start;
}

.section-cta {
  height: 80rem; //temp
  padding: 5rem $pad-X 10rem $pad-X;
  grid-column: lpad-start / rpad-end;
}

/* FOOTER LAYOUT FOR HOMEPAGE */
.footer {
  grid-column: lpad-start / rpad-end;
  padding: 5rem $pad-X;
}
