// LAYOUTS FOR TOUR DETAILS PAGE
.section-tour-intro {
  grid-column: lpad-start / rpad-end;
  height: 46vh;
}

.tour-quick-summary {
  grid-column: lpad-start / rpad-end;
}

.section-tour-details {
  grid-column: lpad-end / rpad-start;
}

.section-tour-reviews {
  grid-column: lpad-end / rpad-start;
}

.section-tour-mapbox {
  grid-column: lpad-start / rpad-end;
  height: 60vh;
  position: relative;
}
