extends base

block mailcontent
  p= `Hi ${username}`
    p Please use the link below to reset your password.
    a(href=`${url}`) #{url}
    p If you didn't request the password reset on your account. Please review your account, your account may be vulnerable.
    p Also you can use 2FA authentication to make your account more secure. Visit your user profile to learn more about 2FA.
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
      tbody
        tr
          td(align='left')
            table(role='presentation', border='0', cellpadding='0', cellspacing='0')
              tbody
                tr
                  td
                    a(href=`${url}`, target='_blank') Reset Password
    p If you need any help with booking your next tour, please don't hesitate to contact us.